<!doctype html>
<html>
<head>
<title>Gemstone Paradise</title>
</head>
<body>
    <header><img src="/img/logo.jpg" alt="Gemstone Paradise Logo" style="height: 200px; width: 200px;"></header>
<div>
{{{body}}}
</div>
</body>
</html>